@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  height: 100%;
  display: table;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../img/back2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

div {
}

h1,
h2 {
  margin: 0 auto;
  padding: .5em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #ccc;

}

/*----- index ------*/
#main_bar {
  position: none;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  opacity: 0.7;
  max-width: 80%;
  max-height: 120%;
  background: #ccc url(../img/top2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90%;
  z-index: -1;
}

.main_text {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 auto;
  vertical-align: middle;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}

/*----- gps_meter ------*/
#main_title {
  margin: 0 auto;
  padding: .5em 0;
  text-align: center;
  background: rgba(111,111,111,0.7);
  color: #ccc;
}

.title {
  margin: 0 auto;
  padding: .5em 0;
  width: 100vw;
  text-align: center;
  font-size: 24pt;
  font-family: 'Lato', sans-serif;
  color: #ccc;
}

#result {
  margin: 0 auto;
  padding: .5em;
  text-align: center;
  background: rgba(204,204,204,0.5);
}

.message {
  text-align: center;
  font-size: 30px;
}

.url_button {
  display: inline-block;
  margin: 3px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #668ad8;
  border: solid 2px #668ad8;
  border-radius: 3px;
  transition: .4s;
  background: #ccc;
}

h2#gas_q0,
#gas_q1 {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #abc;
  border-bottom: 1px solid #abc;
  margin-right: auto;
}

div.gas_text {

}


/*------ Map ------*/
#map-view {
  margin: 0 auto;
  padding: 0;
  background: rgba(119,136,153, 0.5);
}

#map-div {
  margin: 0 auto;
  padding: .5em;
  background-color: #006400;
}

#map-wrapper {
  max-width: 90%;
  min-width: 40%;
  margin: .5em auto;
}


#map-canvas {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
  color: #fff;
}

/*----- sub -----*/
#sub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.9;
  visibility: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

p#caution {
  margin:  0 auto;
  padding: .5em .5em;
  font-size: 38pt;
  color: #faa;
  text-align: center;

}

/* iPhone5基準 */
@media screen and (min-width: 320px){
  #main_bar {

  }

  #map-wrapper {

  }

  #map-canvas {

  }

  .main_text {
    font-size: 8px;
  }

  .message {
    font-size: 12px;
  }

  .title {
    font-size: 14px;
  }

  p#caution {
    font-size: 24px;
    padding: .25em .25em
  }

}

/* Android基準*/
@media screen and (min-width: 360px) {
  #main_bar {

  }

  #map-wrapper {

  }

  #map-canvas {

  }

  p#caution {

  }

  .main_text {
    font-size: 12px;
  }

  .message {
    font-size: 20px;
  }

  .title {
    font-size: 20px;
  }

  p#caution {
    font-size: 26px;
    padding: .25em .25em;
  }
}

/* iPad基準*/
@media screen and (min-width: 767px) {
  #main_bar {

  }

  #map-wrapper {

  }

  #map-canvas {

  }

  .main_text {
    font-size: 16px;
  }

  p#caution {
    font-size: 28px;
    padding: .25em .25em;
  }
}
